name: Laravel CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout codigo
      uses: actions/checkout@v3

    - name: Instalar PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    - name: Instalar dependencias
      run: composer install --no-interaction --prefer-dist

    - name: Generar APP_KEY
      run: php artisan key:generat

